# Editors
.vs/
.vscode/

# Project configuration
PDFScanner/Properties/

# Project output
PDFScanner/output/

# Images
PDFScanner/wwwroot/images/

# Binary output
obj/
PDFScanner/bin/
PDFScanner/obj/