# Editors
.vs/
.vscode/

# Project configuration
ScannerScanner/Properties/
ScannerScanner/ScannerScanner.csproj.user

# Project output
ScannerScanner/output/

# Images
ScannerScanner/wwwroot/images/

# Binary output
obj/
ScannerScanner/bin/
ScannerScanner/obj/